<script>
	var roleForAdd = null;
	var roleIdForAdd = null;
</script>
<!-- Main row -->
<div class="row">
	<!-- Left col -->
	<section class="col-lg-12 connectedSortable">
		<!-- /.box -->
		<div class="box box-solid">
			<div class="box-header">
				<div class="pull-right form-inline">
					<div class="form-group">
						<div class="col-sm-7" style="padding-right: 0px;">
							<!--<form method="POST" action="">-->
							<input type="hidden" id="csrf" name="${_csrf.parameterName}"
								value="${_csrf.token}" />
							<div class="input-group">
								<select class="form-control" name="roles_id">
									<#list listRoles as a> 
										<#if selectRoleValue??>
	                                    	<#if a.id == selectRoleValue>
			                                    <option selected value="${a.id}">${a.roleName}</option>
			                                    <script>
			                                        roleForAdd = '${a.roleName}';
			                                        roleIdForAdd = '${a.id}';
			                                    </script>
		                                    <#else> <option value="${a.id}">${a.roleName}</option>
		                                    </#if>
		                                    <#else>
		                                    <option value="${a.id}">${a.roleName}</option>
	                                    </#if>
                                     </#list>
								</select>
								<div class="input-group-btn">
									<button id="submitRoles" type="submit"
										class="btn btn-info btn-flat">Action</button>
								</div>
							</div>
							<!-- </form>-->
						</div>
						<div class="col-sm-5 text-right text-left-customize-mobile"
							style="padding-right: 0px;">
							<div class="btn-group">
								<button type="button"
									class="btn btn-success btn-sm dropdown-toggle"
									data-toggle="dropdown">
									<i class="fa fa-bars"></i>
								</button>
								<ul class="dropdown-menu pull-right" role="menu">
									<li><a href="#" data-toggle="modal" data-target="#myModal">Add
											new menu</a></li>
									<li class="divider"></li>
									<li><a href="#">View calendar</a></li>
								</ul>
							</div>
							<button type="button" class="btn btn-success btn-sm"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-success btn-sm"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>

				</div>
				<!-- /. tools -->
			</div>
			<div class="box-body">
				<!-- /.box-header -->
				<div class="box-body">
<!-- 					<table id="tableAuthorization"
						class="table table-bordered table-striped">
						<thead>
							<tr>
								<th><div class="center">No</div></th>
								<th><div class="center">Name menu</div></th>
								<th><div class="center">Create Time</div></th>
								<th><div class="center">Modify Time</div></th>
								<th><div class="center">Is Create</div></th>
								<th><div class="center">Is Update</div></th>
								<th><div class="center">Is Delete</div></th>
								<th><div class="center">Is Disabled</div></th>
								<th><div class="center">Action</div></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
 -->
					<table id="tableAuthorizationss" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th><div class="center" >No</div></th>
                                                    <th><div class="center" >Name menu</div></th>
                                                    <th><div class="center" >Create Time</div></th>
                                                    <th><div class="center" >Modify Time</div></th>
                                                    <th><div class="center" >Is Create</div></th>
                                                    <th><div class="center" >Is Update</div></th>
                                                    <th><div class="center" >Is Delete</div></th>
                                                    <th><div class="center" >Is Disabled</div></th>
                                                    <th><div class="center" >Action</div></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <#if authorities??>
                                                <#list authorities as listAuthorities>
                                                <tr id="rowId${listAuthorities.id}" accesskey="${listAuthorities_index+1}">
                                                    <td><div class="center">${listAuthorities_index+1}</div></td>
                                                    <td>${listAuthorities.sysMenu.menusName}</td>
                                                    <td>
                                                        <div class="center" >${listAuthorities.createdTime}</div>
                                                    </td>
                                                    <td>
                                                        <div class="center" >${listAuthorities.modifiedTime} </div>   
                                                    </td>
                                                    <td><div class="center" >
                                                            <#if listAuthorities.isInsert == true>
                                                            <input  type="checkbox" id="isInsert${listAuthorities_index}" disabled checked>
                                                            <label for="isInsert${listAuthorities_index}"></label>
                                                            <#else>
                                                            <input  type="checkbox" id="isInsert${listAuthorities_index}" disabled>
                                                            <label for="isInsert${listAuthorities_index}"></label>
                                                            </#if>
                                                        </div>
                                                    </td>
                                                    <td><div class="center" >
                                                            <#if listAuthorities.isUpdate == true>
                                                            <input type="checkbox"  id="isUpdate${listAuthorities_index}" disabled checked>
                                                            <label for="isUpdate${listAuthorities_index}"></label>
                                                            <#else>
                                                            <input type="checkbox"  id="isUpdate${listAuthorities_index}" disabled>
                                                            <label for="isUpdate${listAuthorities_index}"></label>
                                                            </#if>
                                                        </div>
                                                    </td>
                                                    <td><div class="center" >
                                                            <#if listAuthorities.isDelete == true>
                                                            <input type="checkbox"  id="isDelete${listAuthorities_index}" disabled checked>
                                                            <label for="isDelete${listAuthorities_index}"></label>
                                                            <#else>
                                                            <input type="checkbox"  id="isDelete${listAuthorities_index}" disabled>
                                                            <label for="isDelete${listAuthorities_index}"></label>
                                                            </#if>
                                                        </div>
                                                    </td>
                                                    <td><div class="center" >
                                                            <#if listAuthorities.disabled>
                                                            <input type="checkbox"  id="disabled${listAuthorities_index}" disabled checked>
                                                            <label for="disabled${listAuthorities_index}"></label>
                                                            <#else>
                                                            <input type="checkbox"  id="disabled${listAuthorities_index}" disabled>
                                                            <label for="disabled${listAuthorities_index}"></label>
                                                            </#if>
                                                        </div>
                                                    <td><div style="white-space: nowrap;">
                                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                                        <input type="hidden" id="idTAU${listAuthorities_index}" value="${listAuthorities.id}"/>
                                                        <button type="submit" id="editAuth${listAuthorities_index}" class="btn btn-primary editButton">Edit</button>
                                                        <button type="submit" id="saveAuth${listAuthorities_index}" class="btn btn-primary saveButton" disabled>Save</button>
                                                        <button type="submit" id="deleteAuth${listAuthorities_index}" class="btn btn-primary deleteButton" disabled>Delete</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </#list>
                                                <#else>
                                                </#if>
                                            </tbody>
                                        </table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>

	</section>
</div>
<!-- /.row (main row) -->

<script type="text/javascript"
	src="/admin/v1/spa/templates/authorization-index.js"></script>
